{% extends 'base.html' %}

{% block body %}
<div style="padding-top: 30px; text-align: center;">
    {% for movie in object_list %}
        <div><a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a>
            <form method="POST" action="{% url 'delete_movie' movie.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
            <form method="GET" action="{% url 'update_movie' movie.id %}">
                {% csrf_token %}
                <button type="submit">Update</button>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}
